body {
  background-color: #eee !important;
}
.header {
  background-color: #1C2431;
  color: white;
  height: 660px;
}
li {
  list-style-type: none;
  display: inline;
  margin: 1rem;
}
ul {
  margin-left: auto;
}
.flex {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
}
.head-but {
  padding: 5px 10px;
  background-color: #1FDB84;
  border-radius: 10px 0px 10px 0px;
  color: white;
  border: none;
  font-weight: bold;
}
.header-text {
  text-align: center;
  margin-top: 3rem;
}
.head-but2 {
  padding: 5px 20px 5px 20px;
  background-color: #1FDB84;
  color: white;
  border: none;
  border-radius: 10px 0px 10px 0px;
  width: 10%;
  font-weight: bold;
}
.owl-dots {
  float:left !important;
  margin-left:250px;
}

#background-carosel{
  background-image: url('../asstes/images/Testimonials\ \(1\).png');
  height:500px;
  background-size:cover
}

.hero_dev {
  position: relative;
  bottom:100px !important;
  margin:0px 50px;
  background-color: white;
  padding:30px 0px;
  color:black !important;
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.img-img{
  flex: 33.33%;
  padding: 5px;
  flex-direction: column;
  align-self: flex-start;
}

.footer{
  background-color: #1C2431;
  color: white;
  height: 400px;
}

.footer-nav{
  display: flex;
  flex-direction: column;
}
  
  
  